<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/header.ejs') %>


        <main>
            <div>
                <a href="/fruits/new"><button>Create New Fruit</button></a>
                
                <% for (fruit of fruits) { %>
                    <article>
                        <a href="/fruits/<%= fruit._id %>">
                            <h2>
                                <%= fruit.name %> - <%= fruit.readyToEat ? "Ripe" : "Not ripe" %>
                            </h2>
                        </a>

                    </article>

                <% } %> 
            </div>
        </main>
    </body>
</html>