<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/header.ejs') %>


        <main>
            <div>
                    <article>
                            <h2>
                                <%= fruit.name %> - <%= fruit.readyToEat ? "Ripe" : "Not ripe" %>
                            </h2>
                            <h3> <%= fruit.color %> </h3>
                            <a href="/fruits/<%= fruit._id %>/edit">
                               <button>Edit</button>
                            </a>
                            <form action="/fruits/<%= fruit._id %>?_method=DELETE" method="POST">
                                <input type="submit" value="Delete" />
                            </form>
                            <a href="/fruits/"> 
                                <button>Back</button>
                            </a>
                    </article>

            </div>
        </main>
    </body>
</html>